html {
    background: rgb(221, 241, 234) ;
    color: #666666; 
    font-size: 18px;
    font-family: 'Arial', Helvetica, sans-serif;
}

h2, h4, h3, h5 {
    text-align: center;
    color: rgba(205, 92, 92, 0.884);
}

p {text-indent: 1.5em;}

h4 {font-size: 1.4rem;}

h2 {font-size: 1.8rem;}

h3 {font-size: 1.6rem;}

h5 {font-size: 1.2rem;}

#meutrabalho {
    position: relative;
    top: 170px;
    padding: 2%;
}

.psicóloga {
    position: absolute;
    top: 150px;
    width:50%
}

.objetivo {
    position: absolute;
    top: 415px;
}

#sobremim {
    position:absolute;
    top: 420px;
    padding: 2%;
}

.main ul li {
    line-height: 1.5em;
}

.processo {
    position: relative;
    left: 50%;
    width:50%;
}

.como {
    position: relative;
    padding: 2%;
}

#formaçao {
    position: absolute;
    top: 3300px;
    padding: 2%;
}

#home {
    position: absolute;
    top: 10px;
    font-size: medium;
}

a {color: indianred;}

a:hover {color: lightcoral;}

#home ul {
    list-style-type: none;
    display: flex; 
}

#home ul li {
    padding-left: 27px;
    border-right: 3px solid indianred;
    padding-right: 26px;
}

#agendamento {
    position: relative;
    top: 250px;
}

#img1 img {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: 750px;
    top: 240px;
    border-radius: 50%;
}

#img2 img {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: 100px;
    top: 1450px;
    border-radius: 30%;
}

#img3 img {
    max-width: 350px;
    max-height: 350px;
    left: 930px;
    position: relative;
    top: 250px;
    border-radius: 50%;
}

#img img {
    position: relative;
    max-width: 700px;
    max-height: 500px;
    left: 25%;
    top: 100px;
}

#img4 img {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    top: 3500px;
    display: flex;
}


