html {
    background: rgb(221, 241, 234) ;
    color: #666666; 
    font-size: 18px;
    font-family: 'Arial', Helvetica, sans-serif;
}


h2, h4 {
    text-align: center;
    color: #DE865a;
}

p {
    text-indent: 1.5em;
}

h4 {font-size: 1.4rem;}
h2 {font-size: 1.8rem;}

h3 {
    font-size: 1.6rem;
    color: #DE865a;
    text-align: center;
}

h5 {
    font-size: 1.2rem;
    color: #DE865a;
    text-align: center;
}

#meutrabalho {
    position: relative;
    top: 170px;
    padding: 2%;
}

.psicóloga {
    position: absolute;
    top: 150px;
    width:50%
}

.objetivo {
    position: absolute;
    top: 415px;
}

#sobremim {
    position:absolute;
    top: 420px;
    padding: 2%;
}

.main ul li {
    line-height: 1.5em;
}

.processo {
    position: relative;
    left: 50%;
    width:50%;
}


.como {
    position: relative;
    padding: 2%;
}

#formaçao {
    position: absolute;
    top: 3300px;
    padding: 2%;
}


#home {
    position: absolute;
    top: 330px;
    font-size:medium;
}

a {
    color: indianred;
}

a:hover {
    color: lightcoral;
}

#home ul {
    list-style-type: none;
    display: flex;
}

#home ul li {
    padding-left: 50px;
}

#agendamento {
    position: relative;
    top: 250px;
}

#img1 img {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: 750px;
    top: 250px;
    border-radius: 50%;
}

#img2 img {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: 100px;
    top: 1450px;
    border-radius: 30%;
}

#img3 img {
    max-width: 350px;
    max-height: 350px;
    position:relative;
    left:930px;
    top: 220px;
    border-radius: 50%;
}

#img img {
    position: relative;
    max-width: 700px;
    max-height: 500px;
    left: 25%;
}

#img4 img {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    top: 3500px;
    display: flex;
}

@media (max-width: 768px) {
    #img img {
        max-width: 280px;
        max-height: 280px;
    }
    
    #img1 img {
        max-width: 230px;
        max-height: 230px;
        position: relative;
        left: 230px;
        top: 550px;
    }

    #img2 img {
        max-width: 200px;
        max-height: 250px;
        position: relative;
        left: 20px;
        top: 1900px;
    }

    #img3 img {
        max-width: 200px;
        max-height: 250px;
        position: relative;
        top: 850px;
        left: 250px;
    }

    #img4 img {
        max-width: 300px;
        max-height: 300px;
        position: relative;
        top: 860px;
        left: 18%;
    } 

    #home {
        position: absolute; 
        top: 33%;
        display: inline-block;
    }

    #home ul li a {
        color: indianred;
        font-size: smaller;
    }
    
    .mim {
        position: absolute;
        font-size: smaller;
        top: 1%;
    }

    .psicóloga {
        position:relative;
        top: 110px;
        font-size: smaller;
    }

    .objetivo {
        position: relative;
        font-size: smaller;
        top: 110px;
    }

    #meutrabalho {
        position: relative;
        font-size: smaller;
        top: 700px;
    }

    .equilibrio {
        position: absolute;
        top: 190px;
    }
    
    .guia {
        position: relative;
        top: 140px;
    }
  
    .psicoterapia {
        position: relative;
        top: 145px;
    }

    .processo {
        position: relative;
        top: 125px;
    }

    .como {
        position: relative;
        top: 100px;
    }
    .como p {
        margin: 0;
    }

    .mentoria {
        position: relative;
        top: 90px;
    }

     .clinica {
        position: relative;
        top: 90px;
    }    

    .clinica h5 {
        margin: 0;
    }
    
    #formaçao {
        top: 3350px;
        width: 50%;
        font-size: small;
    }

    #agendamento {
        position: absolute;
        top: 3800px;
        left: 25%;
    }

    h2 {
        font-size: 19px;
    }


    p {
        line-height: 1em;
    }

    h4 {
        font-size: 16px;
    }

    h3 {
        font-size: 18px;
    }

    h5 {
        font-size: 15px;
    }
}

