html {
    background: rgb(221, 241, 234) ;
    color: #666666; 
    font-size: 18px;
    font-family: 'Arial', Helvetica, sans-serif;
}

h2, h4 {
    text-align: center;
    color: #DE865a;
}

p {
    text-indent: 1.5em;
}

h4 {font-size: 1.2rem;}
h2 {font-size: 1.6rem;}

.main p {
    text-indent: 1.5em;
}

.psicóloga {
    position: absolute;
    top: 70%;
    width:50%
}

.objetivo {
    position: absolute;
    top: 110%;
}

#mim {
    position:absolute;
    top: 50%;
}

.main ul li {
    line-height: 1.5em;
}

.processo {
    position: relative;
    top: 300px;
    left: 50%;
    width:50%;
}

.psicoterapia {
    position: relative;
    top: 300px;
}

.como {
    position: relative;
    top: 300px;
}

#formaçao {
    position: absolute;
    top: 268%;
}


#home {
    position: absolute;
    left: 70%;
    top: 20px;
    font-size:medium;
}

a {
    color: indianred;
}

a:hover {
    color: lightcoral;
}

#home ul {
    list-style-type: none;
    line-height: 1.5;
}

#img1 img {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: 750px;
    top: 420px;
}

#img2 img {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: 100px;
    top: 820px;
}

#img3 img {
    max-width: 300px;
    max-height: 300px;
    position:relative;
    left:950px;
    top: 350px;
}

#img img {
    position: absolute;
    top: 1px;
    max-width: 700px;
    max-height: 500px;
}

#img4 img {
    position: relative;
    max-width: 400px;
    max-height: 400px;
    top: 380px;
}

@media (max-width: 768px) {
    #img img {
        max-width: 280px;
        max-height: 280px;
    }
    
    #img1 img {
        max-width: 200px;
        max-height: 200px;
        position: relative;
        left: 280px;
    }

    #img2 img {
        max-width: 200px;
        max-height: 250px;
        position: relative;
        left: 20px;
        top: 450px;
    }

    #img3 img {
        max-width: 200px;
        max-height: 250px;
        top: 130px;
        left: 250px;
    }

    #img4 img {
        max-width: 200px;
        max-height: 200px;
        top: 150px;
    }
    
    .mim {
        position: relative;
        font-size: smaller;
        top: 2%;
 }

    .psicóloga {
        position:relative;
        font-size: small;
        top: 90px;
    }

    .objetivo {
        position: relative;
        font-size: smaller;
        top: 100px;
    }

    .psicoterapia {
        position: relative;
        font-size: smaller;
        top: 1%;
    }

    .processo {
        position: relative;
        font-size: smaller;
        top: 15px;
    }
    
    .processo ul li {
        font-size: smaller;
    }

    .como {
        font-size: smaller;
        position: relative;
        top: 20px;
    }
    .como ul li {
        font-size: smaller;
    }
    
    #formaçao {
        top: 330%;
        width: 50%;
        font-size: small;
    }

    #formaçao h2 {
        font-size: 18px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: smaller;
        line-height: 1.5em;
    }

    h4 {
        font-size: 16px;
    }
}

